body{
    margin: 0;
    font-family: Microsoft JhengHei;
}

/* nav css */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0.5px 0.5px 5px #D0D3D4;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.nav .nav_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    width: 80%;
}

.nav .nav_left .nav_logo{
    width: 20px;
    height: 20px;
    background: url("../images/nav_house.jpg");
    background-size: cover;
    background-position: center;
}

.nav .nav_left .nav_title{
    margin: 0;
    font-size: 14px;
}

.nav .nav_left .nav_search{
    width: 50%;
    height: 24px;
    margin: 8px 16px;
    font-size: 10px;
    padding: 4px 4px 4px 22px;
    background-image: url("../images/nav_search.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
    border: solid 1px #B3B6B7;
}

.nav .nav_right{
    width: 60px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    margin: 8px 8px;
}

.nav .nav_right .nav_list{
    margin: 0px;
    padding: 0px;
    display: none;
    position: fixed;
    width: 70%;
    height: 100% ;
    background-color: #2d3138;
    top: 0px;
    right: 0px;
    z-index: 1000 !important;
}

.nav .nav_right .nav_list .nav_close{
    display: block;
    color: white;
    font-size: 24px;
    text-align: right;
    padding: 0 8px;
    cursor: pointer;
}

.nav .nav_right .nav_btn{
    display: block;
    color: white;
    padding: 8px 16px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.nav .nav_right .nav_btn:hover{
    background-color: aqua;
}

.nav .nav_right .nav_btn{
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.fas.fa-bars{
    display: block;
    margin: 8px;
}

.nav .nav_right .nav_fav_btn{
    width: 30px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.nav .nav_right .nav_fav_btn .nav_fav_img{
    width: 40px;
    height: 40px;
    margin-left: -8px;
    background: url("../images/nav_heart.png");
    background-size: cover;
}

.nav .nav_right .nav_fav_btn .nav_fav_title{
    display: none;
}

@media(min-width: 768px){
    .nav .nav_left{
        width: 90%;
    }
    
    .nav .nav_left .nav_logo{
        width: 30px;
        height: 30px;
        background: url("../images/nav_house.jpg");
        background-size: cover;
        margin: 8px;
    }

    .nav .nav_left .nav_title{
        margin: 0;
        font-size: 18px;
    }

    .nav .nav_left .nav_search{
        width: 50%;
        height: 30px;
        margin: 8px 16px;
        font-size: 14px;
        padding: 4px 4px 4px 32px;
        background-position: 5px center;
        background-size: 30px;
        border: solid 1px #B3B6B7;
    }
    
    .nav .nav_right{
        width: 400px;
    }
    
    .nav .nav_right .fas.fa-bars{
        display: none;
    }

    .nav .nav_right .nav_list{
        display: flex !important;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        margin: 0px 8px;
        position: static;
        width: 80%;
        background-color: transparent;
    }
    
    .nav .nav_right .nav_list .nav_close{
        display: none;
    }

    .nav .nav_right .nav_btn{
        display: inline;
        color: white;
        margin: 8px;
        padding: 0px 0px;
        color: rgb(128, 128, 128);
        cursor: pointer;
    }
    
    .nav .nav_right .nav_fav_btn{
        width: 150px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid rgb(128, 128, 128)
    }

    .nav .nav_right .nav_fav_btn .nav_fav_img{
        width: 40px;
        height: 40px;
        margin-left: -8px;
        background: url("../images/nav_heart.png");
        background-size: cover;
    }

    .nav .nav_right .nav_fav_btn .nav_fav_title{
        display: inline;
    }
}

/* footer css */
.footer{
    width: 100%;
    height: 60px;
    background-color: #ececec;
}

/* login layout css */
.log_layout_container{
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.3);
    position: fixed;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000 ;
    top: 0;
}

.log_layout_container .log_layout{
    width: 350px;
    height: 430px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    align-items: center;*/
}

.log_layout_container .log_layout .login_input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 73%;
    height: 16%;
    margin: 0 auto;
}

.log_layout_container .log_layout .login_input_container .login_mail{
    width: 100%;
    height: 50%;
    border: rgb(128, 128, 128) solid 0.5px;
    font-size: 16px;
    padding-left: 6px;
    letter-spacing: 1px;
}

.log_layout_container .log_layout .login_input_container .login_password{
    width: 100%;
    height: 50%;
    border: rgb(128, 128, 128) solid 0.5px;
    font-size: 16px;
    padding-left: 6px;
    border-top: none;
    letter-spacing: 1px;
}

.log_layout_container .log_layout .forget_btn{
    color: rgb(128, 128, 128);
    font-size: 16px;
    text-align: right;
    margin-top: 20px;
    padding-right: 40px;
    cursor: pointer;
}

.log_layout_container .log_layout .login_btn_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.log_layout_container .log_layout .login_btn_container .login_btn{
    width: 110px;
    background-color: rgb(26,216,211);
    height: 38px;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.log_layout_container .log_layout .gmail_login{
    margin: 0 auto;
    height: 38px;
    width: 250px;
    background-color: #d93025;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

