body{
    margin: 0;
    font-family: Microsoft JhengHei;
}

/* loading page css */
.load_page{
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    z-index: 500;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.load_page .load_page_img{
    width: 300px;
    height: 300px;
    position: relative;
    
}

.load_page .load_page_img .live_img{
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    /* before */
    bottom: 16%;
    
/*     after */
/*    bottom: 8%;*/
}

.load_page .load_page_img .live_img.l{
    background: url("../images/Live_l.png");
    background-size: cover;
    background-position: center;
    
    /* before */
    right: 90%;
    
    /* after */
/*
    top: 12%;
    right: 5%;
*/
    

}

.load_page .load_page_img .live_img.i{
    background: url("../images/Live_i.png");
    background-size: cover;
    background-position: center;
    
    /* before */
    left: -30%;
    top: -16%;
    
    /* after */
/*    top: 10%;*/
/*    left: 37% !important;*/
    

}

.load_page .load_page_img .live_img.v{
    background: url("../images/Live_v.png");
    background-size: cover;
    background-position: center;
    
    /* before */
    left: 35%;
/*    right: 10%;*/
    bottom: 5%;
    transform: rotate(-180deg);
    
    /* after */
/*    bottom: 40%;*/
}

.load_page .load_page_img .live_img.e{
    background: url("../images/Live_e.png");
    background-size: cover;
    background-position: center;
/*
    width: 240px;
    height: 240px;
*/

     /* before */
    left: 110%;
    
    /* after */
/*    bottom: 0%;*/
}

@keyframes houseLMove{
    0%   {top: 12%; right: 5%;}
/*   17%   {top: 12%; right: 5%;}*/
    50%   {top: -16%; right: 90%;}
    100%   {top: 12%; right: 5%;}
}

@keyframes houseIMove{
    0%   {top: 10%; left: 37%;}
/*    25%   {top: 0%; right: 90%;}*/
    50%   {top: -16%; left: -30%;}
    100%   {top: 10%; left: 37%;}
}

@keyframes houseVMove{
    0%   {left: 0%; bottom: 40%; transform: rotate(0deg)}
/*    25%   {top: 0%; right: 90%;}*/
    50%   {left: 35%; bottom: 5%; transform: rotate(-180deg)}
    100%   {left: 0%; bottom: 40%; transform: rotate(0deg)}
}

@keyframes houseEMove{
    0%   {bottom: 0%;}
    50%   {bottom: 16%; left: 110%;}
    100%   {bottom: 0%; left: 0%;}
}

@keyframes houseETurn{
    from   {transform:  rotate(0deg)}
/*
    25%   {transform:  rotate(360deg)}
    50%   {transform:  rotate(0deg)}
*/
    to {transform:  rotate(360deg)}
}


/* nav css */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0.5px 0.5px 5px #D0D3D4;
    position: fixed;
    z-index: 300;
    background-color: white;
}

.nav .nav_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    width: 80%;
}

.nav .nav_left .nav_logo{
    width: 24px;
    height: 24px;
    margin: 0px 8px;
    background: url("../images/nav_logo.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.nav .nav_left .nav_title{
    margin: 0 8px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

.nav .nav_left .nav_search{
    width: 50%;
    height: 24px;
    margin: 8px 16px;
    font-size: 10px;
    padding: 4px 4px 4px 22px;
    background-image: url("../images/nav_search.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 16px;
    border: solid 1px #B3B6B7;
}

.nav .nav_right{
    width: 60px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    margin: 8px 8px;
}

.nav .nav_right .nav_list{
    margin: 0px;
    padding: 0px;
    display: none;
    position: fixed;
    width: 70%;
    height: 100% ;
    background-color: #2d3138;
    top: 0px;
    right: 0px;
    z-index: 1000 !important;
}

.nav .nav_right .nav_list .nav_close{
    display: block;
    color: white;
    font-size: 24px;
    text-align: right;
    padding: 0 8px;
    cursor: pointer;
}

.nav .nav_right .nav_btn{
    display: block;
    color: white;
    padding: 8px 16px;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.nav .nav_right .nav_btn:hover{
/*    background-color: aqua;*/
    color: #00A99D;
}

.nav .nav_right .nav_btn{
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.fas.fa-bars{
    display: block;
    margin: 8px;
}

.nav .nav_right .nav_fav_btn{
    width: 30px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.nav .nav_right .nav_fav_btn .nav_fav_img{
    width: 40px;
    height: 40px;
    margin-left: -8px;
    background: url("../images/nav_heart.png");
    background-size: cover;
}

.nav .nav_right .nav_fav_btn .nav_fav_title{
    display: none;
}

@media(min-width: 768px){
    .nav .nav_left{
        width: 90%;
        margin: 16px
    }
    
    .nav .nav_left .nav_logo{
        width: 30px;
        height: 30px;
        background: url("../images/nav_logo.svg");
        background-size: cover;
    }

    .nav .nav_left .nav_title{
        font-size: 22px;
    }

    .nav .nav_left .nav_search{
        width: 50%;
        height: 30px;
        margin: 8px 16px;
        font-size: 14px;
        padding: 4px 4px 4px 32px;
        background-position: 5px center;
        background-size: 30px;
        border: solid 1px #B3B6B7;
    }
    
    .nav .nav_right{
        width: 400px;
    }
    
    .nav .nav_right .fas.fa-bars{
        display: none;
    }

    .nav .nav_right .nav_list{
        display: flex !important;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        margin: 0px 8px;
        position: static;
        width: 80%;
        background-color: transparent;
    }
    
    .nav .nav_right .nav_list .nav_close{
        display: none;
    }

    .nav .nav_right .nav_btn{
        display: inline;
        width: 100%;
        height: 100%;
        line-height: 4em;
        text-align: center;
        color: white;
        margin: 8px;
        padding: 0px 0px;
        color: rgb(128, 128, 128);
        cursor: pointer;
    }
    
    .nav .nav_right .nav_fav_btn{
        width: 150px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid rgb(128, 128, 128);
        cursor: pointer;
    }
    
    .nav .nav_right .nav_fav_btn:hover{
        background-color: #60C9C2;
        color: white;
    }

    .nav .nav_right .nav_fav_btn .nav_fav_img{
        width: 40px;
        height: 40px;
        margin-left: -8px;
        background: url("../images/nav_heart.png");
        background-size: cover;
    }

    .nav .nav_right .nav_fav_btn .nav_fav_title{
        display: inline;
    }
}

/* footer css */
.footer{
    position: relative;
    top: 60px;
    width: 100%;
    height: 60px;
    background-color: #ececec;
}

/* alert box css */
.alert_box_layout{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 302;
    top:0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert_box_layout .alert_box{
    width: 300px;
    height: 180px;
    background-color: white;
    z-index: 10;
    border-radius: 6px;
    letter-spacing: 3px;
}

.alert_box_layout .alert_box .alert_title{
    font-size: 24px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.alert_box_layout .alert_box .alert_index{
    font-size: 15px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.alert_box_layout .alert_box .alert_btn{
    color: white;
    width: 30%;
    background-color: rgb(26, 216, 211);
    text-align: center;
    margin: 0 auto;
    padding: 6px;
    border-radius: 6px;
}

.alert_box_layout .alert_box .alert_btn:hover{
    cursor: pointer;
}

