.house{
    width: 100%;
    max-width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #F5F5F5;
    margin: 0 auto;
    top: 60px;
    position: relative;
}

/* house left css */
.house .house_left{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    
}

/* house img & selector css */
.house .house_left .house_img_container{
    width: inherit;
    margin: 8px;
    position: relative;
}

.house .house_left .house_img_container .slide_left_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: inherit;
    background-color: transparent;
    position: absolute;
    left: 8px;
    cursor: pointer;
}

.house .house_left .house_img_container .slide_left_container:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.house .house_left .house_img_container .slide_left_container .slide_left{
    background: url("../images/left-arrow.png");
    background-size: cover;
    background-position: center;
    
    width: 50px;
    height: 50px;
    display: none;
}

.house .house_left .house_img_container .slide_left_container:hover .slide_left{
    display: block;
}

.house .house_left .house_img_container .slide_right_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: inherit;
    background-color: transparent;
    position: absolute;
    right: -8px;
    cursor: pointer;
}

.house .house_left .house_img_container .slide_right_container:hover{
    background-color: rgba(0, 0, 0, 0.1)
}

.house .house_left .house_img_container .slide_right_container .slide_right{
    background: url("../images/right-arrow.png");
    background-size: cover;
    background-position: center;
    display: none;
    
    
    width: 50px;
    height: 50px;
}

.house .house_left .house_img_container .slide_right_container:hover .slide_right{
    display: block;
}


.house .house_left .house_img_container .slide_right_container{
    
}

.house .house_left .house_img_container .display_house_img{
    width: inherit;
    height: 439px;
    margin: 8px;
/*    background: url("../images/001.jpeg");*/
}

.house .house_left .house_img_container .house_img_selector_container{
    width: inherit;
    height: 80px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.house .house_left .house_img_container .house_img_selector_container .house_img_selector{
    width: 20%;
    height: 80px;
    margin: 0 1px;
    cursor: pointer;
}

/* house require css */
.house .house_left .house_require_container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    
    width: 100%;
    margin: 8px;
    padding: 24px 0;
    background-color: white;
    border-radius: 4px;
}

.house .house_left .house_require_container .house_require_row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 45%;
    font-size: 15px;
}

.house .house_left .house_require_container .house_require_row .house_require_title{
    width: 62px;
/*    margin: 8px;*/
    color: #666666;
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
}

.house .house_left .house_require_container .house_require_row .house_separate{
    font-weight: bold;
    margin: 0px 4px 0px 8px;
}

.house .house_left .house_require_container .house_require_row .house_require_detail{
    margin: 8px;
}

/* hosue device css */
.house .house_left .house_device_container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    
    width: 100%;
    margin: 8px;
    padding: 24px 0;
    background-color: white;
    border-radius: 4px;
}

.house .house_left .house_device_container .house_device_title{
    width: 100%;
    font-size: 20px;
    margin: 12px 16px;
}

.house .house_left .house_device_container .house_device_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 21%;
}

.house .house_left .house_device_container .house_device_row .house_device_img{
    width: 30px;
    height: 26px;
/*
    background: url("../images/check.jpg");
    background-size: cover;
*/
}

.house .house_left .house_device_container .house_device_row .house_device{
    margin: 4px 8px;
    line-height: 16px;
}

/* house surrounding css */
.house .house_left .house_surrounding_container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    
    width: 100%;
/*    margin: 8px;*/
    padding: 24px 0;
    background-color: white;
    border-radius: 4px;
}

.house .house_left .house_surrounding_container > p{
    margin: 8px;
}

/* house detail */
.house .house_left .house_detail_container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    
    width: 100%;
    margin: 8px;
    padding: 24px 0;
    background-color: white;
    border-radius: 4px;
}

.house .house_left .house_detail_container > p{
    margin: 8px;
}

/* house question css */
.house .house_left .house_question_container{
    margin: 8px;
    width: 100%;
}

.house .house_left .house_ask_container .house_question_title{

}

.house .house_left .house_ask_container .house_question_row{

}

/* house ask css */
.house .house_left .house_ask_container{
    margin: 8px;
    width: 100%;
}

.house .house_left .house_ask_container .house_ask_title{
    
}

.house .house_left .house_ask_container .house_ask{
    width: 100%;
    height: 100px;
}

.house .house_left .house_ask_container .house_ask_btn{
    font-size: 16px;
    background-color: #FF641C;
    width: 70px;
    text-align: center;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    margin-left: 8px;
}

/* house right css */
.house .house_right{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    border-radius: 4px;
}

/* house info css */
.house .house_right .house_info_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 8px;
    padding: 8px 0;
}

.house .house_right .house_info_container .house_price_container{
    width: inherit;
    color: #FF4214;
}


.house .house_right .house_info_container .house_price_container .house_price{
    margin: 8px 0px;
    font-size: 32px;
    font-weight: bold;
}

.house .house_right .house_info_container .house_price_container .house_price_include{
    font-size: 12px;
    margin: 0px;;
    color: #666666;
}

.house .house_right .house_info_container .house_info_lists{
    list-style: none;
    width: inherit;
    padding: 0;
    margin: 8px;
    color: #666666;
}

.house .house_right .house_info_container .house_info_lists .house_info{
    background-color: #F5F5F5;
    padding: 6px;
    margin: 1px
}

/* owner info css */
.house .house_right .owner_info_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    margin: 8px;
    padding: 8px 0;
}

.house .house_right .owner_info_container .owner{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.house .house_right .owner_info_container .owner .owner_photo{
    width: 70px;
    height: 70px;
    background: url("../images/user.png");
    margin: 8px;
}

.house .house_right .owner_info_container .owner .owner_name{
    font-weight: bold;
    margin: 8px;
}

.house .house_right .owner_info_container .owner_phone_container{
    width: 80%;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FF641C;
}

.house .house_right .owner_info_container .owner_phone_container .owner_phone_img{
    width: 34px;
    height: 34px;
    background: url("../images/phone.png");
    background-size: cover;
    margin: 0 8px;
}

.house .house_right .owner_info_container .owner_phone_container .owner_phone{
    margin: 0;
    color: white;
    font-size: 28px;
}



@media(max-width: 991px){
    .house .house_left{
        width: 500px;
    }
    
    .house .house_right .owner_info_container .owner_phone_container .owner_phone_img{
        width: 24px;
        height: 24px;
        margin: 0 4px;
    }
    
    .house .house_right .owner_info_container .owner_phone_container .owner_phone{
        font-size: 22px;
    } 
}

@media(max-width: 767px){
    .house{
/*        width: 90%;*/
        
    }
    
    .house .house_left{
        width: calc(100% - 16px);
/*        margin: 0px auto;*/
    }

    
    .house .house_left .house_require_container .house_require_row{
        font-size: 8px;
    }
    
    .house .house_left .house_require_container .house_require_row .house_require_title{
        width: 58px;
        margin: 0;
    }
    
    /* house device < 768px */
    .house .house_left .house_device_container .house_device_title{
        font-size: 16px;
        margin: 12px 8px;
    }

    .house .house_left .house_device_container .house_device_row .house_device_img{
        width: 16px;
        height: 16px;
    }

    .house .house_left .house_device_container .house_device_row .house_device{
        margin: 4px 4px;
        font-size: 12px;
    }
    
    /* house surrounding < 768px css */
    .house .house_left .house_surrounding_container > p{
        font-size: 12px;
    }
    
    .house .house_left .house_surrounding_container .house_surrounding_title{
        font-size: 16px;
    }
    
    /* house detail  < 768px */
    .house .house_left .house_detail_container > p{
        font-size: 12px;
    }

    .house .house_left .house_detail_container .house_detail_title{
        font-size: 16px;
    }

    .house .house_right{
        display: none;
    }
}