.rental{
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    z-index: 200;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* rental left */
.rental .rental_left{
    width: calc(100% - 600px);
    height: 100%;
    position: relative;
}

.rental .rental_left .map{
    width: 100%;
    height: 100%;
}

/* rental right */
.rental .rental_right{
    width: 600px;
    height: 100%;
    background-color: #F7F7F7;
    overflow-y: auto;
    z-index: 100;
    padding: 12px 20px 20px 20px;
    box-sizing: border-box;
}

.rental .rental_right .retanl_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
}

.rental .rental_right .rental_filter{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.rental .rental_right .rental_filter .filter_type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    width: inherit;
    border-bottom: solid 1px gray;
}

.rental .rental_right .rental_filter .filter_type .filter_title{
    width: 29%;
    margin: 8px;
}

.rental .rental_right .rental_filter .filter_type .filter_detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    box-sizing: border-box;
    margin: 8px;
}

/* rental price */
.rental .rental_right .rental_filter .filter_type:nth-child(1){
    height: 95px;
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart{
    height: 65%;
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart .control{
    position: relative;
    width: 100%;
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart .control .circle{
    width: 10px;
    height: 10px;
    border: 3px solid #00A99D;
    border-radius: 50%;
    bottom: -7px;
    z-index: 10;
    cursor: grab;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #00A99D;
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart .control .circle.left{
    position: absolute;
    left: 0px;
    
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart .control .circle.right{
    position: absolute;
    right: 0px;
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart .control .bottom_line{
    height: 3px;
    width: 100%;
    background-color: #DEE2E3;
    position: absolute;
    bottom: 0;
}

.rental .rental_right .rental_filter .filter_type .filter_detail.price_chart .control .range_line{
    height: 3px;
    width: 100%;
    background-color: #00A99D;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.rental .rental_right .rental_filter .filter_type .filter_detail > p:hover{
   background-color: #60C9C2; 
    color: white;
}

/* room amount */
.rental .rental_right .rental_filter .filter_type .filter_detail .room_amount{
    border: solid 1px #00A99D;
    width: 24%;
    margin: 8px;
    text-align: center;
    padding: 2px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.rental .rental_right .rental_filter .filter_type .filter_detail .room_amount.active{
    background-color: #60C9C2;
    color: white;
}

/* room kind */
.rental .rental_right .rental_filter .filter_type .filter_detail .room_kind{
    border: solid 1px #00A99D;
    width: 32%;
    margin: 8px;
    text-align: center;
    padding: 2px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.rental .rental_right .rental_filter .filter_type .filter_detail .room_kind.active{
    background-color: #60C9C2;
    color: white;
}

/* result title css */
.rental .rental_right .result_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* result house card css */
.rental .rental_right .result_house{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rental .rental_right .result_house .house_card{
    border: 1px solid #B3B6B7;
    width: 100%;
    height: 350px;
    margin-top: 20px;
    position: relative;
    border-radius: 6px;
/*    overflow: hidden;*/
    cursor: pointer;
}

.rental .rental_right .result_house .house_card .house_img{
    width: 100%;
    padding-bottom: 50%;
}

.rental .rental_right .result_house .house_card .house_detail{
    position: relative;
    bottom: 60px;
}

.rental .rental_right .result_house .house_card .house_detail .price_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rental .rental_right .result_house .house_card .house_detail .price_icons .price{
    font-size: 2.3em;
    margin: 8px;
    color: white;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 1px;
}

.rental .rental_right .result_house .house_card .house_detail .price_icons .icons{
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
}

.rental .rental_right .result_house .house_card .house_detail .price_icons .icons .fav_heart{
    width: 36px;
    height: 36px;
    background: url("../images/fav_heart.svg");
    background-size: cover;
    background-position: center;    
    margin: 8px;
}

.rental .rental_right .result_house .house_card .house_detail .price_icons .icons .fav_heart:hover{
    background: url("../images/fav_heart_hover.svg");
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;    
    margin: 8px;
}

.rental .rental_right .result_house .house_card .house_detail .price_icons .icons .fav_heart.active{
    width: 36px;
    height: 36px;
    background: url("../images/fav_filled_heart.svg");
    background-size: cover;
    background-position: center;    
    margin: 8px;
}

.rental .rental_right .result_house .house_detail > p{
    margin: 12px 8px;
}


/* rental single house css */
.rental .rental_right .rental_single_house{
/*    padding: 8px 8px 8px 8px;*/
    width: 100%;
}

.rental .rental_right .rental_single_house .btn_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px;
}

.rental .rental_right .rental_single_house .btn_container .back_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    border: 1px solid #00A99D;
    color: #002A27;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.rental .rental_right .rental_single_house .btn_container .back_btn:hover{
    background-color: #60C9C2;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.rental .rental_right .rental_single_house .btn_container .fav_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #00A99D;
    color: #002A27;
    border-radius: 3px;
    padding: 6px 12px 6px 16px;
    margin-right: 5px;
}

.rental .rental_right .rental_single_house .btn_container .fav_btn:hover{
    background-color: #60C9C2;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.rental .rental_right .rental_single_house .btn_container .fav_btn .fav_img{
    width: 20px;
    height: 20px;
    margin-left: -8px;
    background: url(../images/black_border_heart.svg);
    background-size: cover;
}

.rental .rental_right .rental_single_house .btn_container .fav_btn.active .fav_img{
    width: 20px;
    height: 20px;
    margin-left: -8px;
    background: url(../images/fav_filled_heart.svg);
    background-size: cover;
}

/* single house img css*/
.rental .rental_right .rental_single_house .single_house_img_container{
    width: inherit;
    margin: 8px;
    position: relative;
}

  /* single hosue img slide */
.rental .rental_right .rental_single_house .single_house_img .single_left_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
}

.rental .rental_right .rental_single_house .single_house_img .single_left_container:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.rental .rental_right .rental_single_house .single_house_img .single_left_container .single_left{
     background: url("../images/left-arrow.png");
    background-size: cover;
    background-position: center;
    
    width: 50px;
    height: 50px;
    display: none;
}

.rental .rental_right .rental_single_house .single_house_img .single_left_container:hover .single_left{
    display: block;
}

.rental .rental_right .rental_single_house .single_house_img .single_right_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.rental .rental_right .rental_single_house .single_house_img .single_right_container:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.rental .rental_right .rental_single_house .single_house_img .single_right_container .single_right{
    background: url("../images/right-arrow.png");
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    display: none;
}

.rental .rental_right .rental_single_house .single_house_img .single_right_container:hover .single_right{
    display: block;
}

.rental .rental_right .rental_single_house .single_house_img_container .single_house_img{
    width: 100%;
    padding-bottom: 60%;
    position: relative;
}

/* single house dot selector */
.rental .rental_right .rental_single_house .single_house_img_container .dot_selector{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rental .rental_right .rental_single_house .single_house_img_container .dot_selector .dot{
    padding: 3px;
    background-color: #fff;
    margin-right: 12px;
    border: 1px black solid;
    border-radius: 50%;
}

.rental .rental_right .rental_single_house .single_house_img_container .dot_selector .dot.active{
    background-color: #000;
}

.rental .rental_right .rental_single_house .single_price_address{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rental .rental_right .rental_single_house .single_price_address .single_price{
    margin: 0;
    font-size: 3em;
}

.rental .rental_right .rental_single_house .single_price_address .separate_line{
    width: 1px;
    height: 50px;
    background-color: rgba(89, 100, 112, 0.5);
    margin: 0px 20px 0px 20px;
}

.rental .rental_right .rental_single_house .single_price_address .single_address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rental .rental_right .rental_single_house .single_price_address .single_address .single_dist{
    margin: 4px 0;
    font-size: 1.2em;
}

.rental .rental_right .rental_single_house .single_price_address .single_address .single_street{
    margin: 0;
}

.rental .rental_right .rental_single_house .single_house_title{
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    padding-bottom: 4px;
    padding-top: 16px;
}

.rental .rental_right .rental_single_house .single_house_content{
/*    padding-bottom: 24px;*/
}

.rental .rental_right .rental_single_house .single_device_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.rental .rental_right .rental_single_house .single_device_container .single_device{
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 0px 8px 8px 0px;
}

.rental .rental_right .rental_single_house .single_others_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.rental .rental_right .rental_single_house .single_others_container .single_others{
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 0px 8px 8px 0px;
}

.rental .rental_right .rental_single_house .single_house_more{
/*    width: 100%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rental .rental_right .rental_single_house .single_house_more > p{
    border: 1px solid #00A99D;
    color: #002A27;
    border-radius: 3px;
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
}
.rental .rental_right .rental_single_house .single_house_more > p:hover{
    background-color: #60C9C2;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

@media(max-width: 991px){
    .rental .rental_left{
        display: none;
    }
    
    .rental .rental_right{
        width: 600px;
        padding: 0px;
    }
    
    .rental .rental_right .rental_filter{
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
    }

    .rental .rental_right .rental_filter .filter_type .filter_title{
        width: 18%;
        margin: 8px;
    }

    .rental .rental_right .result_title{
        margin: 16px;
        letter-spacing: 1px;
    }
    
    .rental .rental_right .result_house .house_card{
        height: 160px;
        border-radius: 0px;
        margin: 0;
        display: flex;
    }
    
    .rental .rental_right .result_house .house_card .house_img{
        width: 240px;
        padding-bottom: 0%;
    }
    
    .rental .rental_right .result_house .house_card .house_detail{
        bottom: 0px;
        margin: 0px 6px;
/*        width: 100%;*/
    }
    
    .rental .rental_right .result_house .house_card .house_detail .price_icons{
        width: 320px;
    }

    .rental .rental_right .result_house .house_card .house_detail .price_icons .price{
        font-size: 1.6em;
        color: black;
        text-shadow: none;
    }
    
    /* rental single house css */
    .rental .rental_right .rental_single_house{
        width: 100%;
    }

    .rental .rental_right .rental_single_house .btn_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 16px 8px;
    }

    .rental .rental_right .rental_single_house .btn_container .fav_btn{
        padding: 4px 12px 4px 16px;
        margin-right: 0px;
    }

    /* single house img css*/
    .rental .rental_right .rental_single_house .single_house_img_container{
        padding: 0px -8px;
        margin: 0;
    }
    
    .rental .rental_right .rental_single_house > div{
        margin: 0 8px;
    }

    .rental .rental_right .rental_single_house .single_price_address .single_price{
        font-size: 2em;
    }
}

@media(max-width: 768px){
    .rental .rental_right .rental_filter{
        width: 100%;
        padding: 0px;
    }

    .rental .rental_right .rental_filter .filter_type .filter_title{
        width: 18%;
        margin: 8px;
        font-size: 0.9em;
    }
    
    .rental .rental_right .rental_filter .filter_type .filter_detail{
        font-size: 0.8em;
    }
    
    
    .rental .rental_right .result_house .house_card{
        height: 120px;
    }
    
    .rental .rental_right .result_house .house_card .house_img{
        width: 120px;
    }
    
    .rental .rental_right .result_house .house_card .house_detail > p{
        font-size: 0.9em;
        margin: 0 8px;
    }
    
    .rental .rental_right .result_house .house_card .house_detail .price_icons{
        width: 100%;  
    }

    .rental .rental_right .result_house .house_card .house_detail .price_icons .price{
        font-size: 1em; 
    }
    
    /* rental single house css */
    .rental .rental_right .rental_single_house{
        width: 100%;
    }

    .rental .rental_right .rental_single_house .btn_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 16px 8px;
    }

    .rental .rental_right .rental_single_house .btn_container .fav_btn{
        padding: 4px 12px 4px 16px;
        margin-right: 0px;
    }

    /* single house img css*/
    .rental .rental_right .rental_single_house .single_house_img_container{
        padding: 0px -8px;
        margin: 0;
    }
    
    .rental .rental_right .rental_single_house > div{
        margin: 0 8px;
    }

    .rental .rental_right .rental_single_house .single_price_address .single_price{
        font-size: 2em;
    }
}